<div style="margin-top: 10px;">
    <div class="float-right" style="margin-bottom: 10px;">
        <button type="button" class="btn btn-primary" [routerLink]="['novo']">New Pokemon</button>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="card" *ngFor="let pokemon of pokemons$ | async">
            <img src="{{ pokemon.img }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ pokemon.name }}</h5>
                <p class="card-text">ID: {{ pokemon.id }}</p>
                <p class="card-text">Tipo: {{ pokemon.tipo }}</p>
                <p class="card-text">IV: {{ pokemon.iv }}</p>
                <button class="btn btn-outline-warning mb-1 btn-sm" style="margin-right: 5px;" (click)="editar(pokemon.id)">
                    Atualizar
                </button>
                <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(pokemon)">
                    Remover
                </button>
            </div>
        </div>
    </div>
</div>